@import "src/css/vars";

.input {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 10px;

  max-width: 100%;
  background-color: $bgAccent;
  color: $textDark;
  border-radius: $borderRadius;

}