$borderRadius: 10px;

$bgDark: #606060;
$bgLight: #fff;
$bgAccent: #244D4D;
$bgAccentOrange: #EF5423;
$textLight: #fff;
$textDark:  #383738;
$textAccent: #244D4D;
$bgModal: rgba(2, 2, 2, 1);
$modalOpacity: 0.8;